{% extends "base.html" %}
{% block content %}


<!-- About -->

<div class="container">
    
    <div class="row">
      <div class="col-lg-12 text-center">
      <h2>Wellcome</h2>
      <hr class="star-primary">
      </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
        <h3>Please Log In to visit our dashboards</h3>
 
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
        <h2></h2>
        </div>
      </div>

    <div class="row">
      <div class="col-lg-4">
       <img src="static/images/pfdc_jpeg.jpg" class="img-responsive" alt="">
      </div>
      <div class="col-lg-8">
        <p><strong>Python Machine Learning for IoT </strong><br>
          <small>A WEB application to easily create IoT ML applications</small><br></p>
        
        <div class="progress">
        <div class="progress-bar progress-bar-success" style="width: 55%">
          <span class="sr-only">55% Complete (success)</span>55% achieved
        </div>
        <div class="progress-bar progress-bar-info" style="width: 45%">
          <span class="sr-only">45% Complete (warning)</span>45% to go
        </div>
      </div>
        
        <p><strong>A mobile friendly Web environment</strong> for building machine learning applications and 
            <strong>easily post their graphical insights to the Web</strong></p>
            <p>This tool takes advatage of the following technologies:</p>
            <ul>
                <li>Flask, React and Bootstrap for responsive web framework </li>  
                <li>Pandas, NumPy and SciKit for crunching IoT data series information</li>
                <li>Python REST APIs and DB connectors to explore any Time Series Database</li>
                <li>Plotly-Dash to easily build dynamyc and interactive dashboards</li> 
             </ul>
          </div>
    </div>
    
</div>
{% endblock %}