{% extends "base.html" %}
{% block content %}


<!-- About -->

<div class="container">
    
  <div class="row">
    <div class="col-lg-12 text-center">
    <h2>Congratulations !</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 text-center">
    <h2>You have successfully logged in </h2>
    <hr class="star-primary">
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-4">
      <img src="static/images/plotly-dash.jpg" class="img-responsive" alt="">
    </div>
    <div class="col-lg-8">
      <p><strong>Please use the top NabBar to explore our dashboards </strong></p>
      <p>Our Web App seamlessly integrates the Plotly-Dash interactive dashboard framework</p>
    </div>
  </div>
    
</div>
{% endblock %}