/* Top menu */
.navbar {
  background: #add8e6;
  color: cornflowerblue;
}
.nav-link,
.navbar-brand {
  color: #171e8aca;
  cursor: pointer;
}
.nav-link {
  margin-right: 4em !important;
}
.nav a {
  color: white !important;
  font-size: 4em !important;
}
.nav li {
  padding-right: 5px;
}
.nav-link:hover {
  background: #f4f4f4;
  color: #f97300;
}
.navbar-collapse {
  justify-content: flex-end;
}
.navbar-toggler {
  background: #fff !important;
}
/*header style*/
/*header style*/
html {
  background-image: url("../images/iot1.jpg");
  background-repeat: repeat;
}

.body {
  background-color: transparent;
}

.my-body {
  background-image: url("../images/iot1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background: rgba(244, 244, 244, 0.79);
}

.header {
  background-image: url("../images/iot1.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(244, 244, 244, 0.79);
}
